body{
    margin:0;
    background:#d6d6c8;
    font-family:Arial,sans-serif;
}

.container{
    width:100%;
    max-width:430px;
    margin:auto;
}

.banner-wrapper{
    position:relative;
}

.banner{
    width:100%;
    display:block;
}

.hidden{
    display:none;
}

/* HOTSPOTS */

.hotspot{
    position:absolute;
    cursor:pointer;
}

/* PRODUCTS */

.p1{
    left:8%;
    top:48%;
    width:12%;
    height:9%;
}

.p2{
    left:26%;
    top:48%;
    width:12%;
    height:9%;
}

.p3{
    left:43%;
    top:48%;
    width:12%;
    height:9%;
}

.p4{
    left:61%;
    top:48%;
    width:12%;
    height:9%;
}

.p5{
    left:79%;
    top:48%;
    width:12%;
    height:9%;
}

/* VARIANTS */

.black{
    left:8%;
    top:64%;
    width:13%;
    height:10%;
}

.purple{
    left:26%;
    top:64%;
    width:13%;
    height:10%;
}

.gold{
    left:44%;
    top:64%;
    width:13%;
    height:10%;
}

.silver{
    left:62%;
    top:64%;
    width:13%;
    height:10%;
}

/* BUY */

.buy{
    left:24%;
    top:84%;
    width:52%;
    height:8%;
}

/* CART */

.cart{
    left:2%;
    top:92%;
    width:12%;
    height:6%;
}

/* WA */

.wa{
    right:2%;
    top:92%;
    width:12%;
    height:6%;
}

/* DETAIL */

.detail-image{
    width:100%;
    display:block;
}

.back-btn{
    width:85%;
    display:block;
    margin:20px auto;
    cursor:pointer;
}
