body{
    margin:0;
    font-family:Arial;
}

/* SCREEN */
.screen{
    position:relative;
    width:700px;
    height:1013px;
}

/* HOME BANNER */
.banner{
    width:700px;
    height:1013px;
}

/* HOTSPOT */
.hot{
    position:absolute;
    cursor:pointer;
    background:transparent;
}

/* ================= PRODUCT ROW ================= */
.p1{ left:56px;  top:492px; width:97px; height:92px; }
.p2{ left:179px; top:492px; width:97px; height:92px; }
.p3{ left:302px; top:492px; width:97px; height:92px; }
.p4{ left:425px; top:492px; width:97px; height:92px; }
.p5{ left:553px; top:492px; width:97px; height:92px; }

/* ================= COLOR ================= */
.black{  left:53px;  top:657px; width:100px; height:100px; }
.purple{ left:179px; top:657px; width:100px; height:100px; }
.gold{   left:303px; top:657px; width:100px; height:100px; }
.silver{ left:425px; top:657px; width:100px; height:100px; }

/* ================= PRODUCT VIEW ================= */
.hidden{
    display:none;
}

.big{
    width:700px;
    height:103px;
    position:absolute;
    top:2554px;
    left:-1827px;
}

/* BUY */
.buy{
    position:absolute;
    width:102px;
    height:58px;
    top:13px;
    left:127px;
    background:transparent;
}

/* BACK (DEFAULT / SHARED) */
.back{
    position:absolute;
    width:354px;
    height:84px;
    top:858px;
    left:172px;
}

/* BACK per product (override kalau perlu nanti) */