body{
    margin:0;
    background:#d6d6c8;
    font-family:Arial,sans-serif;
}

.container{
    width:100%;
    max-width:700px;
    margin:auto;
    padding:20px;
    box-sizing:border-box;
}

.banner{
    width:100%;
    display:block;
    border-radius:12px;
}

h2{
    font-size:28px;
    margin-top:30px;
    margin-bottom:15px;
}

.product-row,
.variant-row{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.product-row img,
.variant-row img{
    width:100px;
    border-radius:8px;
    cursor:pointer;
}

.buy-btn{
    width:70%;
    display:block;
    margin:50px auto 20px;
}

.bottom-icons{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.bottom-icons img{
    width:60px;
}

.hidden{
    display:none;
}

.detail-image{
    width:100%;
    display:block;
    border-radius:12px;
    margin-top:20px;
}

.back-btn{
    width:70%;
    display:block;
    margin:60px auto 20px;
    cursor:pointer;
}